<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SPORTS STORE</a>
      <cart-summary></cart-summary>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-2">
      <button
        class="btn btn-block btn-outline-primary"
        (click)="setSelectedCategory('')"
      >
        Home
      </button>
      <button
        class="btn btn-block btn-outline-primary"
        *ngFor="let cat of categories"
        (click)="setSelectedCategory(cat)"
      >
        {{ cat }}
      </button>
    </div>
    <div class="col-9 p-2">
      <div *ngFor="let product of products" class="card m-1 p-1 bg-light">
        <h4>
          {{ product.name }}
          <span class="badge rounded-pill bg-primary float-end">
            {{ product.price | currency: "USD":"symbol":"2.2-2" }}
          </span>
        </h4>
        <div class="card-text bg-white p-1">{{ product.description }}
          <button class="btn btn-success btn-sm float-end" (click)="addProductToCart(product)">Add 2 cart</button>
        </div>
        
      </div>
      <div class="form-inline float-start mr-1">
        <select
          class="form-control"
          [(ngModel)]="productsPerPage"
          (change)="changePageSize(productsPerPage)"
        >
          <option value="3">3 per Page</option>
          <option value="4">4 per Page</option>
          <option value="6">6 per Page</option>
          <option value="8">8 per Page</option>
        </select>
      </div>
      <div class="btn-group float-right">
        <button
          *counter="let page of pageCount"
          class="btn btn-outline-primary"
          [class.active]="selectedPage == page"
          (click)= "changePage(page)"
        >
          {{ page }}
        </button>
      </div>
    </div>
  </div>
</div>
